/* medium - display 2  */
@media (min-width: 768px) {

    #satisfaction-slide .carousel-inner .carousel-item-right.active,
    #satisfaction-slide .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    #satisfaction-slide .carousel-inner .carousel-item-left.active,
    #satisfaction-slide .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {

    #satisfaction-slide .carousel-inner .carousel-item-right.active,
    #satisfaction-slide .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    #satisfaction-slide .carousel-inner .carousel-item-left.active,
    #satisfaction-slide .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

@media (max-width: 768px) {
    #satisfaction-slide .carousel-inner .carousel-item>div {
        display: none;
    }

    #satisfaction-slide .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#satisfaction-slide .carousel-inner .carousel-item.active,
#satisfaction-slide .carousel-inner .carousel-item-next,
#satisfaction-slide .carousel-inner .carousel-item-prev {
    display: flex;
}

#satisfaction-slide .carousel-inner .carousel-item-right,
#satisfaction-slide .carousel-inner .carousel-item-left {
    transform: translateX(0);
}